#login {
    width: 40%;
    margin: auto;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px;
}

#login label {
    font-size: smaller
}

#login button {
    margin: 15px auto;
}

@media screen and (max-width: 768px) {
    #login {
        width: 80%;
    }
}

