#queue-wrapper {
    margin-top: 50px;
    justify-content: space-between;


}

.page-header {
    margin: 0px;
    width: 20%;
    right: -25px;
    padding: 10px;
    position: absolute;
    color: lightgrey;
    font-size: 16rem;
    writing-mode: vertical-rl; 
}

#queue-wrapper .page-header + p {
    text-align: center;
    margin: auto;
}

.queue-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
    margin-left: 50px;
    padding: 50px;
    padding-top: 0px;
    margin-right: 50px;
}