#queue-wrapper {
    margin-top: 50px;
    padding: 25px;
    justify-content: space-between;
    position: relative
}

.page-header {
    right: 20px;
    font-size: 64px;
    padding-top: 10px;
    position: absolute;
    color: lightgrey;
    writing-mode: vertical-rl; 
}

#queue-wrapper .page-header + p {
    text-align: center;
    margin: auto;
}

.queue-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin-left: 50px;
    padding-left: 25px;
    padding-top: 0px;
}

@media screen and (max-width: 767px) {

    #queue-wrapper {
        margin-top: 0px;
    }

    .page-header {
        writing-mode: initial;
        position: initial;
        margin: auto;
        text-align: center;
        margin-bottom: 25px;
    }
    .queue-row {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
        margin: auto;
        padding: 0px;
    }
}
