#search-wrapper {
    margin-top: 50px;
}

#search-form p {
    text-align: center;
}

#error {
    margin: auto;
    text-align: center;
}

.form-group {
    margin-top:  15px;
    justify-content: center
}

#search-form {
    margin-top: 25px;
}

#search-container {
    padding: 0px 25px;
    margin-top: 75px;
}