#feedback h2 {
    font-size: 2rem;
    font-weight: bold;
}

#feedback h4 {
    margin-top: 20px;
}

#feedback-content {
    margin-top: 25px;
}

ul {
    padding-left: 20px;
}

@media screen and (max-width: 425px) {
    #feedback h2 {
        margin-top: 10px;
    }
}