.grid-card {
    padding: 5px;
    border: none;
    width: 33.33%;
    opacity: .9;
    position: relative;
}

.grid-card .card-img {
    border-radius: 0px;
}


.grid-card:hover {
    opacity: initial;
}

@media screen and (max-width: 767px) {
    .grid-card {
        width: 50%
    }
}